@font-face {
  font-family: 'Baller';
  src: url('../fonts/baller/Baller-Regular.eot');
  src: url('../fonts/baller/Baller-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/baller/Baller-Regular.woff') format('woff'),
    url('../fonts/baller/Baller-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gotham/Gotham-Medium.eot');
  src: url('../fonts/gotham/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gotham/Gotham-Medium.woff') format('woff'),
    url('../fonts/gotham/Gotham-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gotham/Gotham-Book.eot');
  src: url('../fonts/gotham/Gotham-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gotham/Gotham-Book.woff') format('woff'),
    url('../fonts/gotham/Gotham-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gotham/Gotham-Bold.eot');
  src: url('../fonts/gotham/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gotham/Gotham-Bold.woff') format('woff'),
    url('../fonts/gotham/Gotham-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}