html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	margin: 100px;
	text-align: center;
	font-family: 'Circular Std Book';
	-webkit-font-smoothing: antialiased;
}
